body {
  background-color: rgb(255, 244, 235);
  margin: 0 100px;
}

.App .container {
  max-width: 900px;
}

.App footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.App footer a {
  color: brown;
}
